# Entorno virtual
venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales de Jupyter o VSCode
*.ipynb_checkpoints
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Streamlit
.streamlit/
